<%= render partial: "shared/nav" %>

<p>Name: <%= @coupon.name %></p>
<p>Code: <%= @coupon.code %></p>
<p>Discount: <%= @coupon.discount_value %></p>
<p>Discount type: <%= @coupon.discount_type %></p>
<p>Status: <%= @coupon.status %></p>
<p>Coupon Usage Count: <%= @coupon.usage_count %></p>